@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: #8686df;
}

header{
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 3px #00000079;
}

section{
    background-color: #fff;
    width: 350px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

input#tab{
    padding: 3px;
    width: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}

input#btn{
    background-color: #fff;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
}

input#btn:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

select#res{
    background-color: #fff;
    outline: none;
    width: 175px;
    height: 170px;
    border: 1px solid #000;
    border-radius: 5px;
}

footer{
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: #fff;
}